# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore Coverage folder. To view reports run 'yarn coverage'. 
coverage
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Golang environment variables
backend/environment/variables.go
backend/tmp
bin

# Env vars
.env
.env.local

# Go vendor
vendor
vendor/*